@font-face {
	font-family: 'Tiempos Fine';
	src: local('Tiempos Fine'), url('../../fonts/TiemposFine-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Quentin';
	src: local('Quentin'), url('../../fonts/Quentin.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
